*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: rgba(136, 136, 136, 0.281);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #555;
}